@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a1d20;
  color: white;
}

.contact-h1 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

